<div class="p-5 mb-4 bg-secondary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold ms-2">Vsi prostori</h1>
    <p class="col-md-8 fs-4 text-white">
      Prikaz prostorov, ki so namenjeni najemu.
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-4">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption" (ngModelChange)="spremeniPrikazProstorov()">
        <option value="vsi">Vsi prostori</option>
        <option value="lastnik">Moji prostori</option>
      </select>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <button type="button" class="btn btn-success" data-mdb-ripple-init [routerLink]="['/prostori/dodaj']">Nov prostor</button>
    </div>
  </div>
</div>

<!-- Seznam prostorov -->
<div class="container prostori">
  <div class="row">
    <div *ngFor="let prostor of prostori; let i = index" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <div class="prostor border rounded-lg shadow-lg mb-5 bg-light">
        <div class="prostor-info p-4">
          <h3 class="prostor-ime">{{ prostor.ime }}</h3>
          <h6 class="prostor-lokacija">{{ prostor.lokacija }}</h6>
          <p class="prostor-opis">{{ prostor.opis }}</p>
          <p><strong>Cena:</strong> {{ prostor.cena }} €</p>
          <p><strong>Velikost:</strong> {{ prostor.velikost }} m²</p>
          <input type="hidden" [value]="prostor.id" />
          <a *ngIf="selectedOption === 'lastnik'" type="button" class="btn btn-info btn-block podrobnosti" [routerLink]="['/prostori/uredi', prostor.id]"
             data-mdb-ripple-color="dark">Več Podrobnosti</a>
        </div>
      </div>
    </div>
  </div>
</div>
