<div class="p-5 mb-4 bg-secondary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold ms-2">Vsi prostori</h1>
    <p class="col-md-8 fs-4 text-white">
      Prikaz prostorov, ki so namenjeni najemu.
    </p>
  </div>
</div>

<div class="container prostori">
  <div class="row">
    <div *ngFor="let prostor of prostori; let i = index" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <div class="prostor border rounded-lg shadow-lg mb-5 bg-light">
        <div class="prostor-info p-4">
          <h3 class="prostor-ime">{{prostor.ime}}</h3>
          <h6 class="prostor-lokacija">{{prostor.lokacija}}</h6>
          <p class="prostor-opis">{{prostor.opis}}</p>
          <p><strong>Cena:</strong> {{prostor.cena}} €</p>
          <p><strong>Velikost:</strong> {{prostor.velikost}} m²</p>
          <a type="button" class="btn btn-info btn-block podrobnosti" [routerLink]="['/prostor', prostor.id]" data-mdb-ripple-color="dark">Več Podrobnosti (ne dela še)</a>
        </div>
      </div>
    </div>
  </div>
</div>


